
/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/

    :root {
        --header-height: 3rem;
        --font-semi: 600;
        --hue-color: 224;
        --first-color: hsl(var(--hue-color), 89%, 60%);
        --second-color: hsl(var(--hue-color), 56%, 12%);
        --body-font: 'Poppins', sans-serif;
        --big-font-size: 2rem;
        --h2-font-size: 1.25rem;
        --normal-font-size: .938rem;
        --smaller-font-size: .75rem;
        --mb-2: 1rem;
        --mb-4: 2rem;
        --mb-5: 2.5rem;
        --mb-6: 3rem;
        --z-back: -10;
        --z-fixed: 100;
    }
.skills__subtitle {
    margin-bottom: var(--mb-2);
    font-style: bold;
    color: rgb(184, 184, 45);
}
h1, h2, p {
    margin: 0;
}
*, ::before, ::after {
    box-sizing: border-box;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.skills__container {
    row-gap: 2rem;
    text-align: center;
    width: 100vw;
}
.wrapper {
    scroll-behavior: smooth;
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.skills-container{
    position:relative;
     display:flex;
    /* padding:5rem; */
    /* margin:10rem auto; */
    gap:30px;
    justify-content: space-around;
  }

.skill-container-left{
  width:50%;
  display:flex;
  margin-left: 250px;
  flex-direction:column;
}

.skill-container-right{
  display:flex;
  flex-wrap:wrap;
  width:50%;
  position:relative;
  margin-top: 80px;
  gap:2rem;
  margin-right: 150px;
  justify-content: center;
}

.skill-fade-text{
  position:absolute;
  font-size:15em;
  font-style:bold;
  color:rgb(231,231,231);
  bottom:-34.5%;
  right:-25%;
  user-select:none;
  overflow-y:hidden;
}

/* .blob-style{
  position:absolute;
  top:50%;
  left:50%;
  z-index:-5;
  transform:translate(-50%, -50%);
  animation: blobAnimate 3s linear infinite;
} */

/* @keyframes blobAnimate {
  50%{
    top:54%;
    left:46%;
  }
} */

.skills-logo{
  width:70px;
  height: 80px;
  transition:all 0.5s;
}

.skills-logo:hover{
  transform:scale(1.2);
}

.skill-heading{
  font-size:50px;
  font-style: bold;
  color: var(--bgOrange);
  line-height: 50px;
  font-family: var(--body-font);
}

/* .caps{  font-size:90px;
} */

.skill-subHeading{
  margin-top: 1rem;
  width:85%;
  text-align: justify;
  font-family: var(--body-font);
}

.skill-subHeading p{
  margin:15px 0;
}








.skills__container {
    row-gap: 2rem;
    text-align: center;
  
    width: 100vw;
  }
  
  .skills__subtitle {
    margin-bottom: var(--mb-2);
  }
  
  .skills__text {
    margin-bottom: var(--mb-4);
  }
  
  .skills__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: var(--font-semi);
    padding: .5rem 1rem;
    margin-bottom: var(--mb-4);
    border-radius: .5rem;
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  }
  
  .skills__icon {
    font-size: 2rem;
    margin-right: var(--mb-2);
    color:  rgb(188, 188, 56);
  }
  
  .skills__names {
    display: flex;
    align-items: center;
  }
  
  .skills__bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgb(188, 188, 56);
    height: .25rem;
    border-radius: .5rem;
    z-index: var(--z-back);
  }
  
  .skills__html {
    width: 95%;
  }
  
  .skills__css {
    width: 85%;
  }
  
  .skills__js {
    width: 65%;
  }
  
  .skills__ux {
    width: 85%;
  }
  
  .skills__img {
    border-radius: .5rem;
  }
  
 